In [46]:
import numpy as np
import pandas as pd

In [47]:
file_path = 'snp_result _60000.txt'

In [48]:
snv_data = np.empty((70000,), dtype=f'S{30}')
snp_id = np.empty((70000,), dtype=f'S{30}')
chromosome = np.empty((70000,), dtype=f'S{30}')
position = np.empty((70000,), dtype=f'S{30}')
signature = np.empty((70000,), dtype=f'S{30}')

In [49]:
with open(file_path, 'r') as file:
    lines = file.readlines()

In [50]:
i = 0
k = 1

In [51]:
for line in lines:
    words = line.split()
    
    if words[0] == str(k) + '.':
        snp_id[i] = words[1]
        k += 1
        i += 1

    if line[0:3] == 'SNV':
        temp = line.split(':')
        snv_data[i-1] = temp[1].rstrip('\n')

    if line[0:6] == 'DELINS':
        temp = line.split(':')
        snv_data[i-1] = temp[1].rstrip('\n')
    
    if words[0] == 'Chromosome:':
        temp = words[1].split(":")
        chromosome[i-1] = temp[0]
        position[i-1] = temp[1]
    
    if words[0] == 'Clinical':
        signature[i-1] = words[2]

In [52]:
data = {'snp_id': snp_id,
        'snv_data': snv_data,
        'chromosome': chromosome,
        'position': position,
        'signature': signature}

In [53]:
df = pd.DataFrame(data)

In [54]:
df[50000:50100]

                snp_id     snv_data chromosome    position signature
50000  b'rs1715120115'       b'C>T'       b'4'  b'3118101'       b''
50001  b'rs1715121026'       b'A>G'       b'4'  b'3118123'       b''
50002  b'rs1715121359'       b'C>T'       b'4'  b'3118129'       b''
50003  b'rs1715121488'       b'C>T'       b'4'  b'3118143'       b''
50004  b'rs1715121576'       b'C>G'       b'4'  b'3118145'       b''
...                ...          ...        ...         ...       ...
50095  b'rs1715156909'       b'T>A'       b'4'  b'3118838'       b''
50096  b'rs1715157029'  b'CTCTAT>-'       b'4'  b'3118845'       b''
50097  b'rs1715157160'       b'C>T'       b'4'  b'3118845'       b''
50098  b'rs1715157278'       b'T>A'       b'4'  b'3118846'       b''
50099  b'rs1715158030'      b'AT>-'       b'4'  b'3118856'       b''

[100 rows x 5 columns]

In [55]:
df['snp_id'] = df['snp_id'].apply(lambda x: x.decode('utf-8').strip('b\'\''))
df['snv_data'] = df['snv_data'].apply(lambda x: x.decode('utf-8').strip('b\'\''))
df['chromosome'] = df['chromosome'].apply(lambda x: x.decode('utf-8').strip('b\'\''))
df['position'] = df['position'].apply(lambda x: x.decode('utf-8').strip('b\'\''))
df['signature'] = df['signature'].apply(lambda x: x.decode('utf-8').strip('b\'\''))

In [56]:
df['signature'] = df['signature'].replace('enign', 'benign')

In [57]:
df

         snp_id snv_data chromosome position      signature
0      rs362272    G>A,T          4  3233253         benign
1      rs362273    A>G,T          4  3225692         benign
2      rs362278    T>A,C          4  3212148         benign
3      rs362308      T>C          4  3240008  likely-benign
4      rs362321      C>T          4  3220301         benign
...         ...      ...        ...      ...            ...
69995
69996
69997
69998
69999

[70000 rows x 5 columns]

In [60]:
df.to_csv('output.xlsx', index=False)