In [173]:
import numpy as np
import pandas as pd

In [174]:
file_path = 'HTT_snps.txt'

In [175]:
snv_data = np.empty((70000,), dtype=f'S{30}')
snp_id = np.empty((70000,), dtype=f'S{30}')
chromosome = np.empty((70000,), dtype=f'S{30}')
position = np.empty((70000,), dtype=f'S{30}')
signature = np.empty((70000,), dtype=f'S{30}')
remove = np.empty((70000,), dtype=int)
num = np.empty((70000,), dtype=int)

In [176]:
with open(file_path, 'r') as file:
    lines = file.readlines()

In [177]:
i = 0
k = 1

In [178]:
for line in lines:
    words = line.split()
    
    if words[0] == str(k) + '.':
        snp_id[i] = words[1]
        k += 1
        i += 1

    if line[0:3] == 'SNV':
        temp = line.split(':')
        snv_data[i-1] = temp[1].rstrip('\n')
        remove[i-1] = 0

    if line[0:6] == 'DELINS':
        temp = line.split(':')
        snv_data[i-1] = temp[1].rstrip('\n')
        remove[i-1] = 1
    
    if words[0] == 'Chromosome:':
        temp = words[1].split(":")
        chromosome[i-1] = temp[0]
        position[i-1] = temp[1]
    
    if words[0] == 'Clinical':
        signature[i-1] = words[2]

In [179]:
for i in range(len(snp_id)):
    num[i] = i+1

In [180]:
data = {'sn': num,
        'snp_id': snp_id,
        'snv_data': snv_data,
        'chromosome': chromosome,
        'position': position,
        'signature': signature,
        'remove': remove}

In [181]:
df = pd.DataFrame(data)

In [182]:
df

,sn,snp_id,snv_data,chromosome,position,signature,remove
0,1,b'rs362272',"b'G>A,T'",b'4',b'3233253',b'benign',0
1,2,b'rs362273',"b'A>G,T'",b'4',b'3225692',b'benign',0
2,3,b'rs362278',"b'T>A,C'",b'4',b'3212148',b'benign',0
3,4,b'rs362308',b'T>C',b'4',b'3240008',b'likely-benign',0
4,5,b'rs362321',b'C>T',b'4',b'3220301',b'benign',0
...,...,...,...,...,...,...,...
69995,69996,b'',b'',b'',b'',b'',476
69996,69997,b'',b'',b'',b'',b'',-1580202448
69997,69998,b'',b'',b'',b'',b'',476
69998,69999,b'',b'',b'',b'',b'',-1580202384
69999,70000,b'',b'',b'',b'',b'',476

In [183]:
df['snp_id'] = df['snp_id'].apply(lambda x: x.decode('utf-8').strip('b\'\''))
df['snv_data'] = df['snv_data'].apply(lambda x: x.decode('utf-8').strip('b\'\''))
df['chromosome'] = df['chromosome'].apply(lambda x: x.decode('utf-8').strip('b\'\''))
df['position'] = df['position'].apply(lambda x: x.decode('utf-8').strip('b\'\''))
df['signature'] = df['signature'].apply(lambda x: x.decode('utf-8').strip('b\'\''))

In [184]:
df['signature'] = df['signature'].replace('enign', 'benign')

In [185]:
df

          sn    snp_id snv_data chromosome position      signature      remove
0          1  rs362272    G>A,T          4  3233253         benign           0
1          2  rs362273    A>G,T          4  3225692         benign           0
2          3  rs362278    T>A,C          4  3212148         benign           0
3          4  rs362308      T>C          4  3240008  likely-benign           0
4          5  rs362321      C>T          4  3220301         benign           0
...      ...       ...      ...        ...      ...            ...         ...
69995  69996                                                               476
69996  69997                                                       -1580202448
69997  69998                                                               476
69998  69999                                                       -1580202384
69999  70000                                                               476

[70000 rows x 7 columns]

In [186]:
df = df[remove == 0 ]

In [187]:
df[0:20]

,sn,snp_id,snv_data,chromosome,position,signature,remove
0,1,rs362272,"G>A,T",4,3233253,benign,0
1,2,rs362273,"A>G,T",4,3225692,benign,0
2,3,rs362278,"T>A,C",4,3212148,benign,0
3,4,rs362308,T>C,4,3240008,likely-benign,0
4,5,rs362321,C>T,4,3220301,benign,0
5,6,rs362331,T>C,4,3214108,benign,0
6,7,rs362336,G>A,4,3212105,benign,0
7,8,rs363075,G>A,4,3135947,benign,0
8,9,rs363096,T>C,4,3178294,benign,0
9,10,rs363099,"C>A,T",4,3160329,benign,0
10,11,rs363125,C>A,4,3187820,benign,0
11,12,rs363129,C>T,4,3180566,likely-benign,0
12,13,rs1065745,C>T,4,3121347,benign,0
13,14,rs1065746,"G>A,C",4,3146897,conflicting-interpretations-of,0
14,15,rs1065747,"C>A,G",4,3148053,conflicting-interpretations-of,0
15,16,rs1143646,T>G,4,3146926,benign,0
16,17,rs1936032,C>G,4,3115441,benign,0
17,18,rs2071704,C>T,4,3238432,benign,0
18,19,rs2229985,"C>A,T",4,3230030,benign,0
19,20,rs2229987,C>T,4,3238940,benign,0

In [188]:
df = df.applymap(str)
df = df.drop('remove', axis=1)
df = df.dropna(axis=0, how='all')
df = df[df['snp_id'].str.startswith('r')]

In [189]:
df

          sn       snp_id snv_data chromosome position      signature
0          1     rs362272    G>A,T          4  3233253         benign
1          2     rs362273    A>G,T          4  3225692         benign
2          3     rs362278    T>A,C          4  3212148         benign
3          4     rs362308      T>C          4  3240008  likely-benign
4          5     rs362321      C>T          4  3220301         benign
...      ...          ...      ...        ...      ...            ...
67471  67472  rs116275868  G>A,C,T          4  3229421
67472  67473  rs111066693  G>A,C,T          4  3229421
67473  67474  rs373599665      A>G          4  3229437
67474  67475  rs181822951      G>C          4  3166089
67507  67508  rs386426566      G>A          4  3146878

[61133 rows x 6 columns]

In [190]:
df.shape

(61133, 6)

In [191]:
df.to_csv('HTT_snps.csv', header=False)