In [1]:
import pandas as pd
import numpy as np

In [2]:
snp_id = []
pos = []
ref = []
alt = []
sig = []

In [3]:
sift_path = 'pred_output\HAP1_sift_pred_output.txt'
poly_path = 'pred_output\HAP1_poly_pred_output.txt'
phd_path  = 'pred_output\HAP1_phd_pred_output.txt'

In [4]:
with open(sift_path, 'r') as sift_file:
    lines = sift_file.readlines()

In [5]:
for line in lines[1:]:
    line_split = line.strip().split('\t')
    snp_id.append(line_split[0])
    pos.append(line_split[2])
    sig.append(line_split[11])
    temp = line_split[4]
    temp_split = temp.split('/')
    ref.append(temp_split[0])
    alt.append(temp_split[1])

In [6]:
sift_data = {'snp_id' : snp_id,
        'pos' : pos,
        'ref' : ref,
        'alt' : alt,
        'sig' : sig}

In [7]:
sift_df = pd.DataFrame(sift_data)

In [8]:
sift_df

            snp_id       pos ref alt                           sig
0     rs1441166937  41718011   G   A  Deleterious - Low Confidence
1     rs1441166937  41718011   G   A  Deleterious - Low Confidence
2        rs7218465  41718015   T   A  Deleterious - Low Confidence
3        rs7218465  41718015   T   A  Deleterious - Low Confidence
4      rs539737936  41718017   G   A  Deleterious - Low Confidence
...            ...       ...  ..  ..                           ...
1750   rs567239796  41734631   G   T                   Deleterious
1751   rs782331264  41734632   C   G  Deleterious - Low Confidence
1752   rs782331264  41734632   C   G                   Deleterious
1753   rs782331264  41734632   C   G  Deleterious - Low Confidence
1754   rs782331264  41734632   C   G                   Deleterious

[1755 rows x 5 columns]

In [9]:
with open(poly_path, 'r') as poly_file:
    lines = poly_file.readlines()

In [10]:
snp_id = []
pos = []
ref = []
alt = []
sig = []

In [11]:
for line in lines[1:]:
    line_split = line.strip().split('\t')
    snp_id.append(line_split[0])
    pos.append(line_split[2])
    sig.append(line_split[11])
    temp = line_split[4]
    temp_split = temp.split('/')
    ref.append(temp_split[0])
    alt.append(temp_split[1])

In [12]:
poly_data = {'snp_id' : snp_id,
        'pos' : pos,
        'ref' : ref,
        'alt' : alt,
        'sig' : sig}

In [13]:
poly_df = pd.DataFrame(poly_data)

In [14]:
poly_df

            snp_id       pos ref alt                sig
0     rs1441166937  41718011   G   A  Possibly Damaging
1     rs1441166937  41718011   G   A  Possibly Damaging
2      rs539737936  41718017   G   A  Probably Damaging
3      rs539737936  41718017   G   A  Probably Damaging
4      rs781787674  41718023   G   C             Benign
...            ...       ...  ..  ..                ...
1744   rs567239796  41734631   G   T  Probably Damaging
1745   rs782331264  41734632   C   G             Benign
1746   rs782331264  41734632   C   G             Benign
1747   rs782331264  41734632   C   G             Benign
1748   rs782331264  41734632   C   G             Benign

[1749 rows x 5 columns]

In [15]:
pos = []
ref = []
alt = []
sig = []

In [16]:
with open(phd_path, 'r') as phd_file:
    lines = phd_file.readlines()
lines = lines[13:4963]

In [17]:
for line in lines[1:]:
    line_split = line.strip().split('\t')
    pos.append(line_split[1])
    ref.append(line_split[3])
    alt.append(line_split[4])
    sig.append(line_split[6])

In [18]:
phd_data = {'pos' : pos,
        'ref' : ref,
        'alt' : alt,
        'sig' : sig}

In [19]:
phd_df = pd.DataFrame(phd_data)

In [20]:
phd_df

           pos ref alt     sig
0     41717241   C   T  Benign
1     41717242   C   G  Benign
2     41717247   C   G  Benign
3     41717249   T   C  Benign
4     41717258   C   T  Benign
...        ...  ..  ..     ...
4944  41736546   G   C  Benign
4945  41736563   A   T  Benign
4946  41736576   G   A  Benign
4947  41736580   C   T  Benign
4948  41736587   G   A  Benign

[4949 rows x 4 columns]

In [21]:
compare_columns = ['snp_id', 'pos', 'ref', 'alt']
sift_poly = pd.merge(sift_df, poly_df, on=compare_columns, how='outer')

In [22]:
sift_poly

,snp_id,pos,ref,alt,sig_x,sig_y
0,rs1441166937,41718011,G,A,Deleterious - Low Confidence,Possibly Damaging
1,rs1441166937,41718011,G,A,Deleterious - Low Confidence,Possibly Damaging
2,rs1441166937,41718011,G,A,Deleterious - Low Confidence,Possibly Damaging
3,rs1441166937,41718011,G,A,Deleterious - Low Confidence,Possibly Damaging
4,rs7218465,41718015,T,A,Deleterious - Low Confidence,NaN
...,...,...,...,...,...,...
7754,rs782331264,41734632,C,G,Deleterious - Low Confidence,Benign
7755,rs782331264,41734632,C,G,Deleterious,Benign
7756,rs782331264,41734632,C,G,Deleterious,Benign
7757,rs782331264,41734632,C,G,Deleterious,Benign
7758,rs782331264,41734632,C,G,Deleterious,Benign

In [23]:
sift_poly = sift_poly.drop_duplicates()

In [24]:
sift_poly

,snp_id,pos,ref,alt,sig_x,sig_y
0,rs1441166937,41718011,G,A,Deleterious - Low Confidence,Possibly Damaging
4,rs7218465,41718015,T,A,Deleterious - Low Confidence,NaN
6,rs539737936,41718017,G,A,Deleterious - Low Confidence,Probably Damaging
10,rs781787674,41718023,G,C,Tolerated - Low Confidence,Benign
12,rs781787674,41718023,G,C,Deleterious - Low Confidence,Benign
...,...,...,...,...,...,...
7715,rs567239796,41734631,G,A,Deleterious,Probably Damaging
7727,rs567239796,41734631,G,T,Deleterious - Low Confidence,Probably Damaging
7731,rs567239796,41734631,G,T,Deleterious,Probably Damaging
7743,rs782331264,41734632,C,G,Deleterious - Low Confidence,Benign
7747,rs782331264,41734632,C,G,Deleterious,Benign

In [25]:
compare_columns = ['pos', 'ref', 'alt']
sift_poly_phd = pd.merge(sift_poly, phd_df, on=compare_columns, how='outer')

In [26]:
sift_poly_phd

,snp_id,pos,ref,alt,sig_x,sig_y,sig
0,rs1441166937,41718011,G,A,Deleterious - Low Confidence,Possibly Damaging,Benign
1,rs7218465,41718015,T,A,Deleterious - Low Confidence,NaN,Benign
2,rs539737936,41718017,G,A,Deleterious - Low Confidence,Probably Damaging,Benign
3,rs781787674,41718023,G,C,Tolerated - Low Confidence,Benign,Benign
4,rs781787674,41718023,G,C,Deleterious - Low Confidence,Benign,Benign
...,...,...,...,...,...,...,...
5391,NaN,41736546,G,C,NaN,NaN,Benign
5392,NaN,41736563,A,T,NaN,NaN,Benign
5393,NaN,41736576,G,A,NaN,NaN,Benign
5394,NaN,41736580,C,T,NaN,NaN,Benign
5395,NaN,41736587,G,A,NaN,NaN,Benign

In [27]:
sift_poly_phd['sig_x'] = sift_poly_phd['sig_x'].apply(lambda x: 1 if x == 'Deleterious' else 0)
sift_poly_phd['sig_y'] = sift_poly_phd['sig_y'].apply(lambda x: 0 if x == 'Benign' else 1)
sift_poly_phd['sig'] = sift_poly_phd['sig'].apply(lambda x: 0 if x == 'Benign' else 1)

In [28]:
sift_poly_phd

            snp_id       pos ref alt  sig_x  sig_y  sig
0     rs1441166937  41718011   G   A      0      1    0
1        rs7218465  41718015   T   A      0      1    0
2      rs539737936  41718017   G   A      0      1    0
3      rs781787674  41718023   G   C      0      0    0
4      rs781787674  41718023   G   C      0      0    0
...            ...       ...  ..  ..    ...    ...  ...
5391           NaN  41736546   G   C      0      1    0
5392           NaN  41736563   A   T      0      1    0
5393           NaN  41736576   G   A      0      1    0
5394           NaN  41736580   C   T      0      1    0
5395           NaN  41736587   G   A      0      1    0

[5396 rows x 7 columns]

In [29]:
sift_poly_phd['total_score'] = sum([sift_poly_phd['sig_x'], sift_poly_phd['sig_y'], sift_poly_phd['sig']])

In [30]:
sift_poly_phd

            snp_id       pos ref alt  sig_x  sig_y  sig  total_score
0     rs1441166937  41718011   G   A      0      1    0            1
1        rs7218465  41718015   T   A      0      1    0            1
2      rs539737936  41718017   G   A      0      1    0            1
3      rs781787674  41718023   G   C      0      0    0            0
4      rs781787674  41718023   G   C      0      0    0            0
...            ...       ...  ..  ..    ...    ...  ...          ...
5391           NaN  41736546   G   C      0      1    0            1
5392           NaN  41736563   A   T      0      1    0            1
5393           NaN  41736576   G   A      0      1    0            1
5394           NaN  41736580   C   T      0      1    0            1
5395           NaN  41736587   G   A      0      1    0            1

[5396 rows x 8 columns]

In [31]:
HAP1_sift_counts = sift_poly_phd['sig_x'].value_counts()
HAP1_poly_counts = sift_poly_phd['sig_y'].value_counts()
HAP1_phd_counts = sift_poly_phd['sig'].value_counts()
HAP1_total_counts = sift_poly_phd['total_score'].value_counts()

In [32]:
HAP1_sift_counts

sig_x
0    5099
1     297
Name: count, dtype: int64

In [33]:
HAP1_poly_counts

sig_y
1    4928
0     468
Name: count, dtype: int64

In [34]:
HAP1_phd_counts

sig
0    5113
1     283
Name: count, dtype: int64

In [35]:
HAP1_total_counts

total_score
1    4609
2     415
0     349
3      23
Name: count, dtype: int64